PopularMovies/.gradle
PopularMovies/local.properties
PopularMovies/.idea/workspace.xml
PopularMovies/.idea/libraries
PopularMovies/.DS_Store
PopularMovies/build

Super_Duo/alexandria/.gradle
Super_Duo/alexandria/local.properties
Super_Duo/alexandria/.idea/workspace.xml
Super_Duo/alexandria/.idea/libraries
Super_Duo/alexandria/.DS_Store
Super_Duo/alexandria/build

Super_Duo/Football_Scores-master/.gradle
Super_Duo/Football_Scores-master/local.properties
Super_Duo/Football_Scores-master/.idea/workspace.xml
Super_Duo/Football_Scores-master/.idea/libraries
Super_Duo/Football_Scores-master/.DS_Store
Super_Duo/Football_Scores-master/build

Portfolio/.gradle
Portfolio/local.properties
Portfolio/.idea/workspace.xml
Portfolio/.idea/libraries
Portfolio/.DS_Store
Portfolio/build
